html {
  /* height: 100%; */
  background: url(images/pizzaBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  height: 118px;
  text-align: center;
  padding-bottom: 5px;
}

nav {
  background-color: rgba(0, 0, 0, 0.338);
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

nav a:hover {
  text-decoration: underline;
  transform: scale(2.0);
  font-size: 17px;
}

main {
  height: 500px;
  text-align: center;
  padding-top: 20px;
  padding-left: 240px;
  padding-right: 240px;
}

footer {
  /* background-color: rgba(0, 0, 0, 0.338); */
  text-align: center;
}

footer p {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 84px;
  color: rgba(255, 255, 255, 1);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.maps {
  margin-left: 540px;
  /* margin-right: 700px; */
}
