.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

header {
  background-color: blue;
  height: 118px;
}

nav {
  background-color: chartreuse;
  height: 40px;
}

main {
  background-color: rgb(255, 123, 0);
  height: 400px;
}

footer {
  background-color: rgb(255, 0, 179);
  height: 100px;
}

